In [ ]:
from google.colab import drive 
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
import requests
from bs4 import BeautifulSoup
from lxml import html
from urllib.request import Request,urlopen
from urllib.parse import urlencode,quote_plus,unquote
import pandas as pd
import math
import xml.etree.ElementTree as ET

In [ ]:
# 시간 단위

In [ ]:
import openpyxl
import xml.etree.ElementTree as ET
import pandas as pd
import glob
import numpy as np

In [ ]:
def event_extraction(path,name):# load and parse the file
    fname = name#= input('Enter File Name: ')
    xmlTree = ET.parse(path)#'C:/Users/user/Downloads/'+fname+'.xml') #경로 수정해야 해요
    
    #xmlTree
    #print('Import successful!')
    #print('Parsing XML file...')
    #print("XML file parsed successfully!")

    x = []

    for ele in xmlTree.findall('./event'):
        l = {}
        for i in ele.getchildren():
            l.update({'fname':fname,i.tag:i.text})
            #print(i.tag)
        x.append(l)
    #print(x)
    #print("Creating DataFrame...")
    df = pd.DataFrame(x)
    return df
    #print("DataFrame created successfully!")
    #if(df.to_excel(fname+'.xlsx', sheet_name='sheet1', index='False')):
    #    print("File Created Successfully!")
    #df

In [ ]:
# xml file path
path = '/gdrive/Shareddrives/2021청년인재_고려대과정_10조/Data/AIHub/'
events = list()
xml_list = glob.glob(path+'**/*.xml',recursive=True)

for idx, xml_file in enumerate(xml_list):
    print('\r{}/{}'.format(idx,len(xml_list)))
    events.append(event_extraction(xml_file,xml_file.split(path)[-1]))


events = np.array(events)
aihub_events = pd.DataFrame(events.reshape(1283,4))

In [ ]:
aihub_events

                                                      0  ...           3
0     inside_croki_02/24-5/24-5_cam01_assault01_plac...  ...  00:03:02.8
1     inside_croki_02/24-5/24-5_cam02_assault01_plac...  ...  00:03:10.7
2     inside_croki_02/24-5/24-5_cam02_assault01_plac...  ...  00:02:52.0
3     inside_croki_02/24-5/24-5_cam01_assault01_plac...  ...  00:02:51.8
4     inside_croki_02/24-5/24-5_cam03_assault01_plac...  ...  00:02:52.4
...                                                 ...  ...         ...
1278  outsidedoor_01/12-5/12-5_cam01_assault01_place...  ...  00:01:40.2
1279  outsidedoor_01/11-4/11-4_cam02_assault01_place...  ...  00:03:59.4
1280  outsidedoor_01/11-4/11-4_cam01_assault01_place...  ...  00:04:01.0
1281  outsidedoor_01/11-4/11-4_cam02_assault01_place...  ...  00:04:48.1
1282  outsidedoor_01/11-4/11-4_cam01_assault01_place...  ...  00:04:37.8

[1283 rows x 4 columns]

In [ ]:
aihub_events.columns=['fname','type','start','end']#{0:'fname',1:'type',2:'start',3:'end'})

In [ ]:
aihub_events.to_csv('/gdrive/Shareddrives/2021청년인재_고려대과정_10조/Data/AIHub/events_time.csv')

In [ ]:
def time_to_sec(time_str):
    return sum(x * int(t) for x, t in zip([1, 60, 3600], reversed(time_str.split(":"))))

In [ ]:
def throw_ms(x):
    idx=x.find('.')
    return time_to_sec(x[:idx])

In [ ]:
df['start_seconds']=''
df['duration_seconds']=''
df['start_seconds']=df['starttime'].apply(lambda x: throw_ms(x))
df['duration_seconds']=df['duration'].apply(lambda x: throw_ms(x))

In [ ]:
df

,fname,eventname,starttime,duration,start_seconds,duration_seconds
0,8-5_cam02_assault03_place05_day_spring,assault,00:03:07.7,00:00:33.4,187,33
1,8-5_cam02_assault03_place05_day_spring,assault,00:03:07.7,00:00:33.4,187,33
2,8-5_cam02_assault03_place05_day_spring,assault,00:03:07.7,00:00:33.4,187,33

In [ ]:
#프레임 단위

In [ ]:
import openpyxl
import xml.etree.ElementTree as ET
import pandas as pd

# load and parse the file
fname = input('Enter File Name: ')
xmlTree = ET.parse('C:/Users/user/Downloads/'+fname+'.xml')
print('Import successful!')
print('Parsing XML file...')
print("XML file parsed successfully!")

x = []

for ele in xmlTree.findall('./object/action/frame'):
    l = {}
    for i in ele.getchildren():
        l.update({'fname':fname,i.tag:i.text})
        #print(i.tag)
    x.append(l)
#print(x)
#print("Creating DataFrame...")
df = pd.DataFrame(x)
#print("DataFrame created successfully!")
if(df.to_excel(fname+'.xlsx', sheet_name='sheet1', index='False')):
    print("File Created Successfully!")

Enter File Name: 8-5_cam02_assault03_place05_day_spring
Import successful!
Parsing XML file...
XML file parsed successfully!
Creating DataFrame...
DataFrame created successfully!

C:\Users\user\anaconda3\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  app.launch_new_instance()

In [ ]:
df['start_seconds']=''
df['duration_seconds']=''
df['start_seconds']=df['starttime'].apply(lambda x: throw_ms(x))
df['duration_seconds']=df['duration'].apply(lambda x: throw_ms(x))

In [ ]:
df

                                     fname start   end
0   8-5_cam02_assault03_place05_day_spring  5635  5659
1   8-5_cam02_assault03_place05_day_spring  5635  5659
2   8-5_cam02_assault03_place05_day_spring  5682  5713
3   8-5_cam02_assault03_place05_day_spring  5682  5713
4   8-5_cam02_assault03_place05_day_spring  5736  5772
5   8-5_cam02_assault03_place05_day_spring  5736  5772
6   8-5_cam02_assault03_place05_day_spring  5778  5813
7   8-5_cam02_assault03_place05_day_spring  5778  5813
8   8-5_cam02_assault03_place05_day_spring  5829  5864
9   8-5_cam02_assault03_place05_day_spring  5829  5864
10  8-5_cam02_assault03_place05_day_spring  5928  5966
11  8-5_cam02_assault03_place05_day_spring  5928  5966
12  8-5_cam02_assault03_place05_day_spring  5971  5998
13  8-5_cam02_assault03_place05_day_spring  5971  5998
14  8-5_cam02_assault03_place05_day_spring  6007  6038
15  8-5_cam02_assault03_place05_day_spring  6007  6038
16  8-5_cam02_assault03_place05_day_spring  6057  6089
17  8-5_cam02_assault03_place05_day_spring  6057  6089
18  8-5_cam02_assault03_place05_day_spring  6112  6147
19  8-5_cam02_assault03_place05_day_spring  6112  6147
20  8-5_cam02_assault03_place05_day_spring  6220  6253
21  8-5_cam02_assault03_place05_day_spring  6220  6253
22  8-5_cam02_assault03_place05_day_spring  6271  6304
23  8-5_cam02_assault03_place05_day_spring  6271  6304
24  8-5_cam02_assault03_place05_day_spring  6394  6428
25  8-5_cam02_assault03_place05_day_spring  6394  6428
26  8-5_cam02_assault03_place05_day_spring  6438  6479
27  8-5_cam02_assault03_place05_day_spring  6438  6479
28  8-5_cam02_assault03_place05_day_spring  6489  6526
29  8-5_cam02_assault03_place05_day_spring  6489  6526
30  8-5_cam02_assault03_place05_day_spring  6589  6629
31  8-5_cam02_assault03_place05_day_spring  6589  6629
32  8-5_cam02_assault03_place05_day_spring  5652  5815
33  8-5_cam02_assault03_place05_day_spring  5652  5815

In [ ]:
## 여러 개 한꺼번에

In [ ]:
import openpyxl
import xml.etree.ElementTree as ET
import pandas as pd

# load and parse the file
fname = input('Enter File Name: ')
xmlTree = ET.parse('C:/Users/user/Downloads/'+fname+'.xml') #경로 수정해야 해요
#print('Import successful!')
#print('Parsing XML file...')
#print("XML file parsed successfully!")

x = []

for ele in xmlTree.findall('./event'):
    l = {}
    for i in ele.getchildren():
        l.update({'fname':fname,i.tag:i.text})
        #print(i.tag)
    x.append(l)
#print(x)
#print("Creating DataFrame...")
df = pd.DataFrame(x)
#print("DataFrame created successfully!")
#if(df.to_excel(fname+'.xlsx', sheet_name='sheet1', index='False')):
#    print("File Created Successfully!")
#df

In [ ]:
import os
import openpyxl
import xml.etree.ElementTree as ET
import pandas as pd

path = './경로/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.xml')]
for k in range(len(file_list_py))
    # load and parse the file
    fname = file_list_py[i]
    xmlTree = ET.parse('./경로/'+fname+'.xml') 
    x = []

    for ele in xmlTree.findall('./event'):
        l = {}
        for i in ele.getchildren():
            l.update({'fname':fname,i.tag:i.text})
            #print(i.tag)
        x.append(l)
df = pd.DataFrame(x)